.resumePage {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю */
    min-height: 70vh;
    font-family: Arial, sans-serif;
    width: 80%; /* Ширина блока */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    padding: 20px; /* Отступы внутри блока */
}


.resumePage-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.resumePage-p{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    word-break: break-word;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


.button-container > div {
    width: 48%;
}

.resumePage-button, .resumePage-button-delete {
    padding: 10px;
    background-color: #06AF04;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    margin-bottom: 10px;
}

.resumePage-button-delete {
    background-color: #f44336;
    color: white;
}

.resumePage-button:disabled {
    background-color: #ccc;
    cursor: default;
}


.resumePage-resume-info {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    background-color: white; /* Белый фон */
    padding: 20px; /* Отступы внутри блока */
    border-radius: 10px; /* Скругленные края */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень (необязательно) */
    max-width: 50%;
    flex: 1;
}

.resumePage-details {
    flex: 1;
}
.resumePage-content {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.resumePage-vacancies h2 {
    margin-top: 0; /* Убираем отступ сверху у заголовка */
}

.resume-item {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    position: relative; /* Для позиционирования кнопки удаления */
    gap: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px; /* Фиксированная ширина */
    height: 100px; /* Фиксированная высота */
}

.resume-info {
    width: calc(100% - 40px); /* Ширина блока информации с учетом кнопки */
}

.resume-info h3 {
    margin-top: 20px;
    font-size: 24px; /* Увеличенный размер шрифта для заголовка */
}

.resume-button-delete {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.resume-button-delete:hover,
.resume-button-delete:focus {
    color: black;
    text-decoration: none;
}

.resumePage-button {
    margin-top: auto; /* Кнопка "Редактировать" будет внизу */
    margin-left: auto; /* Выравнивание по правому краю */
    margin-bottom: 10px;
    display: block;
}
