.tiptap-editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    flex-direction: column;
}

.ProseMirror {
    height: 220px;
    outline: none;
    word-wrap: break-word;
    overflow-y: auto;
    resize: none;
}

.toolbar {
    display: flex;
    margin-bottom: 10px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #ccc;
    top: 0;
    align-items: stretch;
    padding-left: 5px;
}

.toolbar button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: 10px;
    height: 32px;
    line-height: 1;
    flex-grow: 1;
    flex-basis: 0;
}

.toolbar select {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    height: 32px;
    line-height: 1;
    flex-grow: 1;
    flex-basis: 0;
}


.toolbar button.is-active {
    background-color: #eee;
}